
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.list-view{
    -fx-background-color: derive(#1d1d1d,50%);
}

.tab-pane .tab-hea{
    -fx-background-color: derive(#1d1d1d,50%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.choice-box {
    -fx-background-color: derive(#1d1d1d,50%);

}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.slider .track{
    -fx-background-color:derive(#1d1d1d,50%);
}
.slider .thumb{
    -fx-background-color: derive(green, 100%);
}
#staticSlider .thumb{
    -fx-background-color: derive(#fe9012, 10%);

}

.list-cell{

    -fx-text-fill:  derive(lightgrey, 0%);
    -fx-cell-size: 30px;
}

.list-cell:even {

    -fx-background-color: derive(#1d1d1d,50%);
}
.list-cell:odd{

    -fx-background-color: #1d1d1d;
}
.list-cell:selected{
    -fx-background-color: derive(#fe9012, 10%);

}
.list-view:focused{

}

